#banner
	.banner_content
		%h1 FILE CABINET
		%p -- Daily Tasks well organized
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 ORGANIZE
				%p Spicy jalapeno bacon ipsum dolor amet cow chuck t-bone meatball cupim, pork loin frankfurter pancetta tail picanha pork chop. Pastrami leberkas tri-tip ball tip capicola, venison filet mignon tail tenderloin pork belly. Tail ground round ribeye, venison short loin picanha flank drumstick hamburger sirloin. Sirloin meatloaf picanha prosciutto turducken pork loin shank flank ground round fatback cupim.

#bottom_cta
	.wrapper
		%h2 LET'S ROLL
		%br
		%button= link_to "Join Now", new_user_registration_path